body {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 130;
    margin-right: 10%;
}

h1, h2 {
    font-size: 24px;
    font-weight: 50;
	font-family: Helvetica, sans-serif;
}
#line-chart-div{
    margin-left: 10%; 
    margin-right: 10%; 
    padding: 2em;   
}

#bar-chart-div{
    margin-left: 10%;
    margin-right: 10%;
}

#pie-chart-div-penicilin, #pie-chart-div-streptomycin, #pie-chart-div-neomycin{
   margin-right: 10%;
   padding: 2em; 
}

#line-chart-text,#bar-chart-text, #pie-chart-text {
    margin-left: 10%;
}


