body {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 130;
    margin-right: 10%;
}

h1 {
    font-size: 40px;
    font-weight: 50;
	font-family: Helvetica, sans-serif;
}

h2 {
    font-size: 24px;
    font-weight: 50;
	font-family: Helvetica, sans-serif;
}

h3 {
    font-size: 18px;
    font-weight: 50;
	font-family: Helvetica, sans-serif;
}


#line-chart-div{
    margin-left: 10%; 
    margin-right: 10%; 
    padding-bottom: 1.5em;
}

#bar-chart-div, #box-plot-div1, #box-plot-div2{
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 1.5em;
}

#line-chart-text,#bar-chart-text, #box-plot-text {
    margin-left: 10%;
}

